@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";

.btn {
  @apply bg-black text-white rounded-xl py-2.5 font-medium text-sm cursor-pointer
  hover:bg-gray-600 focus:ring-1 hover:shadow-lg transition duration-200 disabled:opacity-70 disabled:cursor-not-allowed gap-2;
}


